* {
    box-sizing: border-box;
}

body {
    font: 200 16px 'Fira Sans';
    margin: 0;
    padding: 0 0 1px;
    color: #404040;
    background: #f0f0f0;
}


.kiosk {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kiosk * {
    cursor: default;
    -moz-user-select: none;
}

.link {
    cursor: pointer;
    transition: color .5s, transform .5s;
}

.link:hover {
    transform: scale(1.1);
    color: #B71C1C;
}

.kiosk .link {
    cursor: default;
    transition: none;
}

.kiosk .link:hover {
    transform: none;
    color: inherit;
}

.banner {
    font-size: 12px;
    line-height: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
    height: 35px;
    text-align: center;
    background: #900;
    color: #FFF;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;
    padding: 10px 20px;
    background: #009688;
    color: #b2dfdb;
    border-bottom: solid 1px #26a69a;
    box-shadow: 0 2px 2px #00695c;
}

.banner + .page-header {
    top: 35px;
}

.page-subheader {
    font-size: 14px;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 4px 130px;
    background: #bdbdbd;
}

.logo {
    height: 80px;
    width: 80px;
    float: left;
    position: relative;
    top: 10px;
    z-index: 100;
    background: #e0f2f1;
    border: solid 2px #009688;
    border-radius: 50%;
    box-shadow: 0 0 4px #e0f2f1;
}

.page-header__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 110px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #00695c;
    color: #fff;
    box-shadow: inset 0 2px 2px #004d40;
}

.page-footer__nav {
    font-size: 0;
    position: relative;
    top: -1px;
    text-align: center;
}

.page-footer__nav-item {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 12px 40px 16px;
    border-bottom: solid 5px #00695c;
}

.page-footer__nav-item.active {
    background: #f0f0f0;
    color: #00695c;
}

.page-footer__nav-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    border-bottom: solid 3px #004d40;
}

.page-footer__copyright {
    font-size: 14px;
    padding: 3px 0 10px;
    text-align: center;
}

.page-footer__copyright-link {
    color: #FFF;
    text-decoration: none;
}

.page-content {
    position: relative;
    margin: 100px;
}

.page-content::after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.error {
    padding: 60px;
    text-align: center;
}

.faculties {

}

.faculties__grid-item {
    float: left;
    width: 25%;
}

.faculty {
    position: relative;
    margin: 0 10px 20px;
    height: 260px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    box-shadow: 0 2px 6px #adadad;
}

.faculty__title {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 16px;
    background: rgba(255, 255, 255, .7);
}

.groups {
    padding: 25px 0 0;
}

.groups__level {
    margin-bottom: 20px;
}

.groups__level-title {
    font-size: 14px;
    font-weight: 400;
    float: left;
    -webkit-transform: rotate(-90deg) translate(-20px, -40px);
    -moz-transform: rotate(-90deg) translate(-20px, -40px);
    -ms-transform: rotate(-90deg) translate(-20px, -40px);
    -o-transform: rotate(-90deg) translate(-20px, -40px);
    transform: rotate(-90deg) translate(-20px, -40px);
    -webkit-transform-origin: 80% 40%;
    -moz-transform-origin: 80% 40%;
    -ms-transform-origin: 80% 40%;
    -o-transform-origin: 80% 40%;
    transform-origin: 80% 40%;
}

.groups__level-groups {
    overflow: hidden;
    min-height: 50px;
}

.group {
    display: inline-block;
    min-width: 90px;
    margin-bottom: 14px;
    margin-right: 12px;
    padding: 0 12px 4px 0;
    background: #b2dfdb;
}

.group__title {
    padding: 8px 10px;
    background: rgba(255, 255, 255, .5);
}

.buildings {
    padding-top: 20px;
    overflow: hidden;
}

.buildings__grid-item {
    float: left;
    width: 20%;
}

.building {
    position: relative;
    margin: 0 10px 20px;
    height: 200px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    box-shadow: 0 2px 6px #adadad;
}

.building__title {
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 16px;
    background: rgba(255, 255, 255, .7);
}

.rooms {
    padding-top: 60px;
}

.rooms__grid-item {
    float: left;
    min-width: 12%;
}

.room {
    position: relative;
    margin: 0 10px 20px;
    padding: 0 20px 10px 0;
    height: 50px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    box-shadow: 0 2px 6px #adadad;
}

.room__title {
    font-size: 16px;
    font-weight: 300;
    padding: 8px 16px;
    white-space: nowrap;
    background: rgba(255, 255, 255, .7);
}

.time-column {
    font-size: 13px;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 100%;
    margin-right: 8px;
    text-align: right;
    color: #999;
}

.time {
    display: block;
    height: 80px;
    padding-top: 12px;
}

.time-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    display: none;
    background: #ccc;
}

.time-line_idx_2 {
    top: 202px;
    display: block;
}

.time-line_idx_4 {
    top: 362px;
    display: block;
}

.time-line_idx_6 {
    top: 522px;
    display: block;
}

.time-line_idx_8 {
    top: 682px;
    display: block;
}

.time-line_idx_10 {
    top: 842px;
    display: block;
}

.time-marker {
    display: none;
    position: absolute;
    left: -0;
    right: -0;
    height: 2px;
    background: rgba(255, 0, 0, .5);
    z-index: 1000;
}

.time-marker:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: rgba(255, 0, 0, .5);
    border-radius: 50%;
    top: -3px;
    left: -7px;
}

.time-marker:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: rgba(255, 0, 0, .5);
    border-radius: 50%;
    top: -3px;
    right: -7px;
}

.schedule__title {
    font-weight: 300;
    margin: 0 0 25px;
    text-align: center;
}

.schedule__week-wrapper {
    position: relative;
}

.schedule__week {
    display: table;
    width: 100%;
}

.schedule__day {
    display: table-cell;
    border-left: solid 1px #dedede;
}

.schedule__day_today_yes {
    background: #fffde9;
}

.schedule__date {
    font-size: 12px;
    display: block;
    font-weight: 200;
    color: #6a6a6a;
}

.schedule__arrow {
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    z-index: 10;
    bottom: 26px;
    padding: 8px 40px 8px;
    background: #f9f9f9;
    border-bottom: solid 3px #004d40;
    color: #00695c;
}

.schedule__arrow_prev {
    left: 60px;
}

.schedule__arrow_next {
    right: 60px;
}

.schedule__empty {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 300px;
    height: 100px;
    margin: -50px 0 0 -150px;
    padding: 33px;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #999;
    border-radius: 4px;
}

.day-name {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 6px;
    padding: 10px 10px 4px;
    text-align: center;
    border-bottom: solid 1px #dedede;
}

.lessons {
    position: relative;
    min-height: 800px;
}

.lesson {
    position: absolute;
    left: 4px;
    right: 4px;
    height: 152px;
    padding: 16px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    transition-property: right, box-shadow, margin-left, margin-top, z-index;
    transition-duration: 1s;
}

.lesson_current {
    padding: 14px;
    border: solid 2px #00695c;
}

.lesson_current::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #C00;
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.lesson_double {
    margin-left: 40px;
    margin-top: 20px;
    right: -10px;
    z-index: 1;
    box-shadow: 0 0 20px #ababab;
}

.lesson_start_1 {
    top: 0;
}

.lesson_start_2 {
    top: 80px;
}

.lesson_start_3 {
    top: 160px;
}

.lesson_start_4 {
    top: 240px;
}

.lesson_start_5 {
    top: 320px;
}

.lesson_start_6 {
    top: 400px;
}

.lesson_start_7 {
    top: 480px;
}

.lesson_start_8 {
    top: 560px;
}

.lesson_start_9 {
    top: 640px;
}

.lesson_start_10 {
    top: 720px;
}

.lesson_start_11 {
    top: 800px;
}

.lesson_start_12 {
    top: 880px;
}

.lesson_duration_1 {
    height: 72px;
    padding: 8px 16px;
}

.lesson_duration_1 .lesson__subject {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson_duration_1 .lesson__footer {
    font-size: 12px;
    padding: 4px 16px;
    min-height: 0;
}

.lesson_duration_1 .lesson__teachers {
    float: left;
    width: 60%;
}

.lesson_duration_1 .lesson__auditories {
    float: right;
    width: 40%;
}

.lesson_duration_2 {
    height: 152px;
}

.lesson_duration_3 {
    height: 232px;
}

.lesson_duration_4 {
    height: 312px;
}

.lesson_duration_5 {
    height: 392px;
}

.lesson_duration_6 {
    height: 476px;
}

.lesson_duration_7 {
    height: 552px;
}

.lesson_duration_8 {
    height: 632px;
}

.lesson_duration_9 {
    height: 712px;
}

.lesson_duration_10 {
    height: 792px;
}

.lesson__subject {
    line-height: 1.2;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.lesson__type {
    font-size: 12px;
}

.lesson__time {
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: .5px;
    padding: 4px 4px;
    color: #000;
}

.lesson__footer {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 54px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, .5);
}

.lesson__auditories {
    text-align: right;
}

.lesson__groups {
    text-align: right;
    color: #999;
}
