* {
    box-sizing: border-box;
}

body {
    font: 200 16px 'Fira Sans';
    margin: 0;
    padding: 0 0 1px;
    color: #404040;
    background: #f0f0f0;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;
    padding: 10px 20px;
    background: #009688;
    color: #b2dfdb;
    border-bottom: solid 1px #26a69a;
    box-shadow: 0 2px 2px #00695c;
}

.page-subheader {
    font-size: 14px;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 4px 130px;
    background: #bdbdbd;
}

.logo {
    height: 80px;
    width: 80px;
    float: left;
    position: relative;
    top: 10px;
    z-index: 100;
    background: #e0f2f1;
    border: solid 2px #009688;
    border-radius: 50%;
    box-shadow: 0 0 4px #e0f2f1;
}

.page-header__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    margin-left: 110px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00695c;
    color: #fff;
    box-shadow: inset 0 2px 2px #004d40;
}

.page-footer__nav {
    font-size: 0;
    position: relative;
    top: -1px;
    text-align: center;
}

.page-footer__nav-item {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 12px 40px 16px;
    border-bottom: solid 5px #00695c;
}

.page-footer__nav-item.active {
    background: #f0f0f0;
    color: #00695c;
}

.page-footer__nav-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    border-bottom: solid 3px #004d40;
}

.page-content {
    position: relative;
    margin: 100px;
}

.page-content::after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.error {
    padding: 60px;
    text-align: center;
}

.faculties {

}

.faculties__grid-item {
    float: left;
    width: 25%;
}

.faculty {
    position: relative;
    margin: 0 10px 20px;
    height: 260px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    box-shadow: 0 2px 6px #adadad;
}

.faculty__title {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 16px;
    background: rgba(255, 255, 255, .7);
}

.groups {
    margin: 20px 0;
}

.groups__level {
    margin-bottom: 20px;
}

.groups__level-title {
    font-size: 14px;
    font-weight: 400;
    float: left;
    -webkit-transform: rotate(-90deg) translate(-20px, -40px);
    -moz-transform: rotate(-90deg) translate(-20px, -40px);
    -ms-transform: rotate(-90deg) translate(-20px, -40px);
    -o-transform: rotate(-90deg) translate(-20px, -40px);
    transform: rotate(-90deg) translate(-20px, -40px);
    -webkit-transform-origin: 80% 40%;
    -moz-transform-origin: 80% 40%;
    -ms-transform-origin: 80% 40%;
    -o-transform-origin: 80% 40%;
    transform-origin: 80% 40%;
}

.groups__level-groups {
    overflow: hidden;
    min-height: 50px;
    margin-left: -22px;
}

.group {
    display: inline-block;
    min-width: 90px;
    margin-bottom: 14px;
    margin-right: 12px;
    padding: 0 12px 4px 0;
    background: #b2dfdb;
}

.group__title {
    padding: 8px 10px;
    background: rgba(255, 255, 255, .5);
}

.buildings {
    padding-top: 20px;
    overflow: hidden;
}

.buildings__grid-item {
    float: left;
    width: 20%;
}

.building {
    position: relative;
    margin: 0 10px 20px;
    height: 200px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    box-shadow: 0 2px 6px #adadad;
}

.building__title {
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 16px;
    background: rgba(255, 255, 255, .7);
}

.rooms {
    padding-top: 60px;
}

.rooms__grid-item {
    float: left;
    min-width: 12%;
}

.room {
    position: relative;
    margin: 0 10px 20px;
    padding: 0 20px 10px 0;
    height: 50px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
    box-shadow: 0 2px 6px #adadad;
}

.room__title {
    font-size: 16px;
    font-weight: 300;
    padding: 8px 16px;
    white-space: nowrap;
    background: rgba(255, 255, 255, .7);
}

.time-column {
    font-size: 13px;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 100%;
    margin-right: 8px;
    text-align: right;
    color: #999;
}

.time {
    display: block;
    height: 160px;
    padding-top: 25px;
}

.schedule {
    display: table;
    width: 100%;
}

.schedule__day {
    display: table-cell;
}

.schedule__day_today_yes {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 20px #bababa;
}

.schedule__date {
    font-size: 12px;
    display: block;
    font-weight: 200;
    color: #6a6a6a;
}

.schedule__arrow {
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    z-index: 10;
    bottom: 6px;
    padding: 8px 40px 8px;
    background: #f9f9f9;
    border-bottom: solid 3px #004d40;
    color: #00695c;
}

.schedule__arrow_prev {
    left: 60px;
}

.schedule__arrow_next {
    right: 60px;
}

.day-name {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 6px;
    padding: 4px 10px;
    text-align: center;
}

.lessons {
    position: relative;
    height: 800px;
}

.lesson {
    position: absolute;
    left: 4px;
    right: 4px;
    height: 152px;
    padding: 16px;
    overflow: hidden;
    background: #b2dfdb;
    border-radius: 2px;
}

.lesson_start_1 {
    top: 0;
}

.lesson_start_2 {
    top: 160px;
}

.lesson_start_3 {
    top: 320px;
}

.lesson_start_4 {
    top: 480px;
}

.lesson_start_5 {
    top: 640px;
}

.lesson__subject {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.lesson__type {
    font-size: 12px;
}

.lesson__footer {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 54px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, .5);
}

.lesson__auditories {
    text-align: right;
}
