<div ng-controller="ScheduleCtrl">
    <div ng-repeat="day in schedule">
        <h3>{{ days[day.weekday] }}</h3>

        <div ng-repeat="lesson in day.lessons">
            <h4>{{lesson.subject}}</h4>

            <div>{{ lessonTypes[lesson.type] }}</div>

            <div ng-repeat="teacher in lesson.teachers">{{teacher.teacher_name}}</div>

            <div ng-repeat="auditory in lesson.auditories">{{auditory.auditory_name}}</div>

            <p>{{lesson.time_start}}&ndash;{{lesson.time_end}}</p>
        </div>
    </div>
</div>