<search class="search" kind="{{ kind }}" restore></search>


<div class="search__results" ng-controller="SearchCtrl">
    <h2 class="search__result-header">Результаты поиска</h2>

    <div class="search__result" ng-repeat="result in results" ng-click="navigate(result.path)"
         ng-class="'search__result_kind_' + kind">
        <div class="search__result-title">
            {{ result.title }}
        </div>
    </div>

    <div class="search__result_empty" ng-show="results.length == 0">По запросу <strong>{{query}}</strong> ничего не найдено.</div>
</div>
