<div class="lesson__time">{{lesson.time_start}}-{{lesson.time_end}}</div>
<h4 class="lesson__subject">{{lesson.subject}}</h4>

<div class="lesson__type">{{ lesson.typeObj.name }}<span
        ng-show="lesson.additional_info">, </span>{{ lesson.additional_info }}
</div>

<footer class="lesson__footer">
    <div ng-show="showTeacher" class="lesson__teachers">
        <div class="link" ng-repeat="teacher in lesson.teachers" ng-click="navigate('/teachers/' + teacher.id)">{{teacher.full_name}}</div>
        <div ng-show="lesson.teachers.length == 0">&nbsp;</div>
    </div>

    <div ng-show="showRoom" class="lesson__auditories">
        <span class="link" ng-repeat="auditory in lesson.auditories" ng-click="navigate('/buildings/' + auditory.building.id + '/rooms/' + auditory.id + '/schedule')">{{auditory.name}}/{{auditory.building.abbr}}<span
                ng-hide="$last">, </span></span>
    </div>
    <div ng-show="showGroups" class="lesson__groups">
        <span class="link" ng-repeat="group in lesson.groups"  ng-click="navigate('/schedule/' + group.id)" data-id="{{group.id}}">{{group.name}}<span
                ng-hide="$last">, </span></span>
    </div>
</footer>
