<!DOCTYPE html>
<html ng-app="unisheduleApp">
<head lang="ru">
    <meta charset="UTF-8">
    <title>СПбПУ Расписание учебных занятий</title>
    <link rel="stylesheet" href="/public/app.css"/>
</head>
<body ng-controller="appCtrl">
<div class="banner">
    Расписание может измениться в течение первых двух недель учебного семестра. Следите за объявлениями.
</div>
<header class="page-header" ng-click="navigate('/')">
    <img class="logo link" src="/public/spbstu_logo.svg" ng-click="navigate('/')" alt=""/>

    <div class="page-header__title"><back class="back link">←</back>{{ title }}</div>
    <clock class="clock" interval="1000"></clock>
</header>
<section class="page-subheader" ng-show="subtitle">{{ subtitle }}</section>

<section class="page-content ng-view"></section>

<footer class="page-footer">
    <nav class="page-footer__nav">
        <div class="page-footer__nav-item link" ng-class="{active: isActive('/') }" ng-click="navigate('/')">Группы</div>
        <div class="page-footer__nav-item link" ng-class="{active: isActive('/teachers') }" ng-click="navigate('/teachers')">
            Преподаватели
        </div>
    </nav>

    <nav class="page-footer__copyright" ng-hide="kioskMode"><a href="http://www.spbstu.ru/" class="page-footer__copyright-link">СПбПУ</a></nav>
</footer>

<keyboard class="keyboard keyboard_hidden"></keyboard>

<loading class="loading"></loading>
<notification class="notification">В работе сервиса произошла непредвиденная ошибка</notification>

<script src="/public/app.js"></script>
</body>
</html>
