<!DOCTYPE html>
<html ng-app="unisheduleApp">
<head lang="ru">
    <meta charset="UTF-8">
    <title>SPbSTU Schedule</title>
    <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="/app/css/unischedule.css"/>
    <link rel="stylesheet" href="/app/js/keyboard/keyboard.css"/>
    <link rel="stylesheet" href="/app/js/loading/loading.css"/>
    <link rel="stylesheet" href="/app/js/search/search.css"/>
</head>
<body ng-controller="appCtrl">
<header class="page-header" ng-click="navigate('/')">
    <img class="logo" src="app/img/spbstu_logo.png" ng-click="navigate('/')" alt=""/>

    <div class="page-header__title">{{ title }}</div>
</header>
<section class="page-subheader" ng-show="subtitle">{{ subtitle }}</section>

<section class="page-content ng-view"></section>

<footer class="page-footer">
    <nav class="page-footer__nav">
        <div class="page-footer__nav-item" ng-class="{active: isActive('/') }" ng-click="navigate('/')">Группы</div>
        <div class="page-footer__nav-item" ng-class="{active: isActive('/teachers') }" ng-click="navigate('/teachers')">
            Преподаватели
        </div>
        <div class="page-footer__nav-item" ng-class="{active: isActive('/buildings') }" ng-click="navigate('/buildings')">
            Аудитории
        </div>
    </nav>
</footer>

<keyboard class="keyboard keyboard_hidden"></keyboard>

<loading class="loading"></loading>

<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-route/angular-route.js"></script>
<script src="/vendor/angular-animate/angular-animate.js"></script>
<script src="/vendor/angular-cookies/angular-cookies.js"></script>
<script src="/app/js/app.js"></script>
<script src="/app/js/apiurls/APIUrls.js"></script>
<script src="/app/js/faculty/facultyController.js"></script>
<script src="/app/js/groups/groupsController.js"></script>
<script src="/app/js/schedule/scheduleController.js"></script>
<script src="/app/js/teachers/teachersController.js"></script>
<script src="/app/js/buildings/buildingsController.js"></script>
<script src="/app/js/rooms/roomsController.js"></script>
<script src="/app/js/keyboard/keyboardDirective.js"></script>
<script src="/app/js/loading/loadingInterceptor.js"></script>
<script src="/app/js/loading/loadingDirective.js"></script>
<script src="/app/js/search/searchDirective.js"></script>
<script src="/app/js/search/searchController.js"></script>
<script src="/app/js/config.js"></script>
</body>
</html>
